<div class="container">
  <img src="assets/Sewage Tank Cleaning.svg" height="200" width="300" class="service-image" />
  <div class="info-container">
    <h3 class="title">Sewage Tank Clearing</h3>
    <p style="line-height: 1.5;">The service partners will use vacuum pumps and the vehicle-mounted tank to clear the
      septic tank. The vacuum pumps will suck the sludge and fill the vehicle-mounted tank.
      This sludge will be later taken away for prompt and proper disposal. </p>
    <button> <a routerLink="/book-appointment" routerLinkActive="link-active">Book Now</a></button>
  </div>
</div>
<div class="container1">
  <img src="assets/Septic Tank Cleaning.svg" height="200" width="300" class="service-image" />
  <div class="info-container">
    <h3 class="title">Sewage Tank Cleaning</h3>
    <p style="line-height: 1.5;">Our service partners will clean the septic tank internally. The walls of the septic
      tank will be scraped and cleaned to make it sludge-free.
      The residue would be pumped out and treated with cleaning agents. </p>
    <button> <a routerLink="/book-appointment" routerLinkActive="link-active">Book Now</a></button>
  </div>

</div>
<div class="container">
  <img src="assets/Drainage Block Clearing.svg" height="200" class="service-image" />
  <div class="info-container">
    <h3 class="title">Sewer & Drain Blockage Clearing</h3>
    <p style="line-height: 1.5;">We offer blockage removing services for sewer and drain blockages. Our service partners
      are well equipped to remove any sort of blockage that is troubling you.
      This may be in any type/size of pipe. </p>
    <button> <a routerLink="/book-appointment" routerLinkActive="link-active">Book Now</a></button>
  </div>
</div>
<div class="container1">
  <img src="assets/Pest Control.svg" height="200" width="300" class="service-image" />
  <div class="info-container">
    <h3 class="title">Pest Control</h3>
    <p style="line-height: 1.5;">Our service partners have the best equipment and amazing experience to carry out the
      pest control service.
      We offer eco-friendly options as pest control solutions. You may choose the type of solution which best fits your
      choice.
    </p>
    <button> <a routerLink="/book-appointment" routerLinkActive="link-active">Book Now</a></button>
  </div>

</div>
<div class="container">
  <img src="assets/Sanitization.svg" height="200" width="300" class="service-image" />
  <div class="info-container">
    <h3 class="title">Sanitization</h3>
    <p style="line-height: 1.5;">Since the outbreak of the Pandemic, sanitization has become an important need. This
      service helps to maintain a healthy environment in a literal sense. It not only helps to keep the COVID 19 virus
      away but also other harmful viruses and bacteria.
      Disinfecting the workplace also sends a message to your employees that “You Care” about them. </p>
    <button> <a routerLink="/book-appointment" routerLinkActive="link-active">Book Now</a></button>
  </div>
</div>
<div class="container1">
  <img src="assets/Water Tank Cleaning.svg" height="200" width="300" class="service-image" />
  <div class="info-container">
    <h3 class="title">Water Tank Cleaning</h3>
    <p style="line-height: 1.5;">Water Tank cleaning service ensures that the water storage tank is free from
      impurities, algae, and sludge. Frequent tank cleaning eliminates the risk of impurities and algae formation in the
      water tank.
      The inner walls of the tank will be cleaned to ensure maximum cleanliness of the storage tank. </p>
    <button> <a routerLink="/book-appointment" routerLinkActive="link-active">Book Now</a></button>
  </div>
</div>
<div class="container">
  <img src="assets/House-Bathroom-Toilet-Kitchen.svg" height="200" width="300" class="service-image" />
  <div class="info-container">
    <h3 class="title">House / Bathroom / Kitchen Deep Cleaning Services</h3>
    <p style="line-height: 1.5;">We provide specialized home deep cleaning services. You may opt for a single service
      for your Bathroom / Kitchen / Living room or get a package for the entire house. Our experts will ensure
      a no-disturbance service.
      Our service partners will use the best tools and agents for an awesome experience. </p>
    <button> <a routerLink="/book-appointment" routerLinkActive="link-active">Book Now</a></button>
  </div>
</div>