<div class="carousel-container">
  <app-hero></app-hero>
  <div class="booking-card">
    <app-book-appointment-card></app-book-appointment-card>
  </div>
  <p class="text-over-carousel">
    {{'Outstanding\n Waste Management\n and Cleaning Services'}}
  </p>
</div>

<p class="title">SERVICES</p>

<app-b2b-service></app-b2b-service>

<div
  style="text-align: center; display: flex;justify-content: center;margin: 10px 0; padding:10px;color:white;background-color: #048242;">
  <div style="max-width: 900px;">
    <h2 style=" font-weight: bold;">ABOUT US</h2>
    <p style="line-height: 1.5;">Click2Clean is an aggregator platform that provides exceptional Waste management and Cleaning Services. We are one of India's first organizations to focus specifically on Hygiene & Sanitation services.</p>
    <button class="read-more-button" routerLink="/about-us">Read More</button>
  </div>
</div>

<p class="title">TESTIMONIALS</p>
<app-testimonials></app-testimonials>
<app-download-app></app-download-app>
