<!-- <h2 mat-dialog-title>Privacy Policy</h2> -->
<mat-dialog-content class="mat-typography">
  <div style="display: flex;justify-content: center;padding:10px">
    <div style="width:100%;max-width:900px;" [innerHTML]="privacyPolicy | safeHtml"></div>
    <div *ngIf="!privacyPolicy && errorMessage" class="error-message">{{errorMessage}}</div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="true" style="background-color: #048242; color: #fff;"
    color="primary">Close</button>
</mat-dialog-actions>